
body {
    font-family: Arial;
    background-color: #f2f2f2;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    height: 100vh;
    padding: 20px;
}
main {
    background: white;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}
input, button {
    padding: 0.6em;
    margin-top: 10px;
}
